<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  "Anime Talk" is a social site where Anime lovers can express and share
  their opinions on the subject of Anime Art with other Anime lovers. From
  existing commercial work to individual's original art. If it's about Anime,
  it's welcome!
<p></p>
<p></p>
<p>
  <small>
    Please note that "Anime Talk" is not a general social site. Please limit your
	post to Anime related topics. Non-Anime post will be delted at the discression 
	of the System Admin.
    Thank you!
  </small>	
</p>
<p></p>
<p></p>
<p>
<%= image_tag("SpiritedAway.png")%>
</p>