<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  For technical issues or for information about "Anime Talk", please contact me
  @ <a href="mailto:Dws041957@aol.com?Subject=Anime Talk" target="_top">Send Mail</a>
  Thanks for joining my site!
</p>
<p></p>
<p></p>
<p>
<%= image_tag("GirlWhoLeaptThruTime.png")%>
</p>